.forminput {
    background: #FFFFFF;
    border: 1px solid #979797;
    box-shadow: inset 0px 1px 1px 0px #000000;
}
html {
    width: calc(100% + 10px);
    position: relative;
    margin-right: -50px;
    overflow-x: hidden;
}
body {
    width: 100%;
}
.formsection {
    padding: 10px;
    background: #FFFFFF;
    /*border: 1px solid #979797;*/
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.50);
}
h3 {
    font-family: Helvetica;
    font-size: 24px;
    color: #FFFFFF;
    line-height: 29px;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.50);
}
input {
    padding: 3px 3px 3px 3px;
}
#msginfo {
  width: 100%;
}
#displayAllRecipients{
  padding-left: 5px;
  padding-top: 20px;
  font-size: 25px;
}
#sendMsgBtn{
  position: relative;
  margin-top: -30px;
}
#sendMsgForm{
  height: 100%;
}
#messagesdisplaydivs {
    height: 500px;
    width: 100%;
    background-color: white;
    box-shadow: 2px 2px 4px #888888;
    padding: 2px 10px 10px 10px;
    margin-top: 10px;
    display: none;
}
#messagescomposedivs {
    height: 500px;
    width: 100%;
    background-color: white;
    box-shadow: 2px 2px 4px #888888;
    padding: 2px 10px 10px 10px;
    margin-top: 10px;
    display: none;
   
}
#nameOfMessageDiv {
    font-weight: lighter; 
    font-size: 30px; 
    margin-bottom: 15px;
    margin-top:15px; 
    margin-left: 10px;
} 
#contentOfNews{
    height:400px; 
    overflow:auto; 
    background-color: #fcfcfc; 
    padding: 5px 10px 10px 10px; 
    opacity: 0.8;
}