<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Highdown Sixth Form Online Application - Tutor Reference</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="../style/loginpage/material.min.css">
  <link rel="stylesheet" href="../style/textpage/styles.css">
  <link rel="stylesheet" href="../style/stylesheet.css">
</head>

<body class="mdl-demo mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary">
      <div class="mdl-layout--large-screen-only mdl-layout__header-row">
      </div>
      <div class="mdl-layout--large-screen-only mdl-layout__header-row">
        <h3>Highdown Sixth Form Online Application</h3>
      </div>
      <div class="mdl-layout--large-screen-only mdl-layout__header-row">
      </div>
    </header>
    <main class="mdl-layout__content" style="background-color: white;">
      <br>
      <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp formsection">
        <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--12-col">
            Thank you for completing your reference.
            Click <a href="./index.html">here</a> to go to the homepage
          </div>
        </div>
      </section>

    </main>
    </div>
    <script src="../scripts/loginpage/material.min.js"></script>

</html>
